@model MvcWebUI.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Order Details</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Order State</dt>
                <dd class="col-sm-9">
                    @if (Model.OrderState == MvcWebUI.Entity.EnumOrderState.Waiting)
                    {
                        <span class="badge badge-danger">@Model.OrderState</span>
                    }
                    else if (Model.OrderState == MvcWebUI.Entity.EnumOrderState.Cargo)
                    {
                        <span class="badge badge-primary">@Model.OrderState</span>
                    }
                    else if(Model.OrderState == MvcWebUI.Entity.EnumOrderState.Completed)
                    {
                    <span class="badge badge-success">@Model.OrderState</span>
                    }

                </dd>

                <dt class="col-sm-3">Order Id</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>

                <dt class="col-sm-3">Order Number</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>

                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">@Model.Total.ToString("0.## $")</dd>

                <dt class="col-sm-3">Order Date</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>

                <dt class="col-sm-3">Adress</dt>
                <dd class="col-sm-9">
                    @Model.AdressTitle
                <hr />
                @Model.Adress
                <br />
                @Model.City - @Model.District - @Model.ZipCode
            </dd>

            <dt class="col-sm-3">Products</dt>
            <dd class="col-sm-9">

                <table class="table table-bordered table-stripped">

                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.OrderLines)
                        {
                        <tr>
                            <td><img src="~/Upload/@item.Image" width="70"/></td>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price.ToString("0.## $")</td>
                            <td><a href="/Home/Details/@item.ProductId" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-angle-double-right" aria-hidden="true"></i>          Product Details</a></td>

                        </tr>
                        }
                    </tbody>

                </table>

            </dd>
            </dl>
        </div>
    </div>
</div>

